.places {
  width: 100%;
  margin: 0;
  padding: 92px 48px;
  list-style: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media screen and (min-width: 1280px) {
  .places {
    padding: 92px 148px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 88px 24px 90px;
    row-gap: 70px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    padding: 64px 0 66px;
    row-gap: 50px;
  }
}
