.intro {
  max-width: 690px;
  padding-top: 92px;
  padding-left: 48px;
  padding-bottom: 92px;
  align-self: flex-start;
}

@media screen and (min-width: 1280px) {
  .intro {
    padding-left: 148px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 100%;
    padding: 88px 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 64px 16px;
  }
}
