.footer {
  max-width: 1184px;
  margin: 0 auto;
  padding: 92px 48px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 48px;
}

.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer__link {
  margin-right: 18px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__copyright {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
}

@media screen and (max-width: 968px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction:column;
    align-items: flex-start;
  }
  .footer__links {

    row-gap: 32px;
  }
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }

  .footer__copyright {
    line-height: 1;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 64px 16px 24px;
  }
  .footer__links {
    flex-direction: column;
  }
}
